/*Custom SCSS*/
// Imports
@import 'nav.scss';

// Resets
body {
	background-color: #efefef;
}

// Custom Updates
h1 {
	font-style: 49px;
	height: 120px;
}

// Materialize Card Link Override
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)  {
	color: #9C9C9C;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover  {
	color: #000;
}

.booty {
	padding-top: 2%;
}



